.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  margin-right: 20px;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  max-width: 420px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 0;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  color: rgba(33, 33, 33, 0.7);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.edit__button {
  border-style: none;
  background-color: transparent;
  opacity: 70%;
  display: flex;
  gap: 8px;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  padding: 0;
  margin-top: auto;
}

.edit__button:hover {
  opacity: 100%;
}

.add__button {
  display: flex;
  margin-left: auto;
  border-radius: 8px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  width: 149px;
  height: 52px;
  background-color: #212121;
  color: white;
  gap: 8px;
  align-items: center;
  padding: 0;
  align-self: self-end;
}

.add__button:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

.plus_icon {
  width: 12px;
  height: 12px;
  padding-left: 32px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .add__button {
    margin: 0;
    align-self: center;
    width: 100%;
    justify-content: center;
  }

  .edit__button {
    align-self: center;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__name {
    margin: 0 0 6px;
    font-size: 20px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .plus_icon {
    padding: 0;
  }
}
